- title 'Things'

.container
  = link_to new_thing_path, class: 'btn btn-default' do
    %span.glyphicon.glyphicon-asterisk
    New Thing

  %table.table.table-striped
    %thead
      %tr
        %th Name
        %th.text-right Quantity

    %tbody
      - @things.each do |thing|
        %tr
          %td= link_to thing.name, thing_path(thing)
          %td.text-right= thing.quantity
