- title 'Things'

.container

  %table.table.table-striped
    %thead
      %tr
        %th
          = link_to new_thing_path, class: 'btn btn-default' do
            %span.glyphicon.glyphicon-asterisk
            New Thing

        %th Name
        %th.text-right Quantity

    %tbody
      - @things.each do |thing|
        %tr
          %td
            %button.btn.btn-danger
              %span.glyphicon.glyphicon-trash
          %td= link_to thing.name, thing_path(thing)
          %td.text-right= thing.quantity
